{{ define "main" }}
  <div id="project" class="page-width">

    {{ partial "project-details.html" .Params }}

    {{ with .Params.video }}
      {{ $id := replaceRE "https?://([a-z\\./]+)" "" . }}

      <div class="video-container">
	    {{ if in . "youtu" }}
	      <iframe src="https://www.youtube.com/embed/{{ $id }}" frameborder="0" allowfullscreen></iframe>
	    {{ end }}

	    {{ if in . "vimeo" }}
	      <iframe src="https://player.vimeo.com/video/{{ $id }}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
	    {{ end }}
      </div>
    {{ end }}

	{{ $parts := (split .Content "|||") }}
    <div class="content">
	  {{ safeHTML (index $parts 0) }}
    </div>

    {{ range .Resources.Match "*{png,jpg,gif}" }}
      {{ $resource := . }}
      {{ if strings.HasSuffix $resource.Name ".gif"  }}
        <img src="{{ $resource.RelPermalink }}" alt="" />
	  {{ else if (and (strings.HasSuffix $resource.Name ".png") (not (in $resource.Name "_main"))) }}
        <img src="{{ $resource.RelPermalink }}" alt="" />
      {{ else if not (in $resource.Name "_main") }}
        {{ $image := $resource }}
        {{ if (not (in $image.Name "_leave")) }}
          {{ $image = $resource.Fit "900x900" }}
        {{ end }}
        <img src="{{ $image.RelPermalink }}" alt="" />
      {{ end }}
    {{ end }}

	<div class="content">
	  {{ safeHTML (index $parts 1) }}
    </div>

    <div class="tags">
      <ul class="tags-list small">
        {{ range .Params.tags }}
          <li>
            <a href="/tags/{{ . }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>

    <div class="prev-next">
      <!-- <p>Other projects</p> -->
      <div>
	    {{if .Next}}
          <a href="{{ .Next.RelPermalink }}">
            ⟵ {{ .Next.Name  }}
          </a>
	    {{end}}
        <div class="spacer"></div>
        {{if .Prev}}
          <a href="{{ .Prev.RelPermalink }}">
            {{ .Prev.Name  }} ⟶
          </a>
	    {{end}}
      </div>
    </div>

  </div>
{{ end }}
